<div class="skill-tags strength-tags" [class.minified]="summarized">
    <span>{{ 'skills.soft-skills.cv.leadership' | translate }}</span>
    <span>{{ 'skills.soft-skills.cv.strategic-thinking' | translate }}</span>
    <span>{{ 'skills.soft-skills.cv.problem-solving' | translate }}</span>
    <span>{{ 'skills.soft-skills.cv.communication' | translate }}</span>
    <span>{{ 'skills.soft-skills.resourcefulness' | translate }}</span>
    <span>{{ 'skills.soft-skills.decision-making' | translate }}</span>
    <span>{{ 'skills.soft-skills.adaptability' | translate }}</span>
    <span>{{ 'skills.soft-skills.financial-acumen' | translate }}</span>
    <span>{{ 'skills.soft-skills.trainability' | translate }}</span>
</div>
