<div class="skills-section" [class.minified]="summarized">
    <app-skill-measure
        [value]="7"
        [minValue]="minValue"
        [name]="'skills.soft-skills.resourcefulness' | translate"
    ></app-skill-measure>
    <app-skill-measure
        [value]="7"
        [minValue]="minValue"
        [name]="'skills.soft-skills.trainability' | translate"
    ></app-skill-measure>
    <app-skill-measure
        [value]="7"
        [minValue]="minValue"
        [name]="'skills.soft-skills.problem-solving' | translate"
    ></app-skill-measure>
    <app-skill-measure
        [value]="6"
        [minValue]="minValue"
        [name]="'skills.soft-skills.teamwork' | translate"
    ></app-skill-measure>
    <app-skill-measure
        [value]="6"
        [minValue]="minValue"
        [name]="'skills.soft-skills.decision-making' | translate"
    ></app-skill-measure>
    <app-skill-measure
        [value]="4"
        [minValue]="minValue"
        [name]="'skills.soft-skills.emotional-intelligence' | translate"
    ></app-skill-measure>
    <app-skill-measure
        [value]="4"
        [minValue]="minValue"
        [name]="'skills.soft-skills.communication' | translate"
    ></app-skill-measure>
    <app-skill-measure
        [value]="4"
        [minValue]="minValue"
        [name]="'skills.soft-skills.responsibility' | translate"
    ></app-skill-measure>
    <app-skill-measure
        [value]="5"
        [minValue]="minValue"
        [name]="'skills.soft-skills.leadership' | translate"
    ></app-skill-measure>
    <app-skill-measure
        [value]="3"
        [minValue]="minValue"
        [name]="'skills.soft-skills.strategic-thinking' | translate"
    ></app-skill-measure>
    <app-skill-measure
        [value]="3"
        [minValue]="minValue"
        [name]="'skills.soft-skills.adaptability' | translate"
    ></app-skill-measure>
    <app-skill-measure
        [value]="2"
        [minValue]="minValue"
        [name]="'skills.soft-skills.financial-acumen' | translate"
    ></app-skill-measure>
</div>
