<div class="row">
    <div class="col-6 col-md-4">
        <p>
            <span class="h1">🎙</span>
            {{ 'skills.hobbies.singing' | translate }}
        </p>
        <p>
            <span class="h1">♟</span>
            {{ 'skills.hobbies.chess' | translate }}
        </p>
        <p>
            <span class="h1">🎸</span>
            {{ 'skills.hobbies.guitar-playing' | translate }}
        </p>
    </div>
    <div class="col-6 col-md-4">
        <p>
            <span class="h1">🏃</span>
            {{ 'skills.hobbies.running' | translate }}
        </p>
        <p>
            <span class="h1">🧗</span>
            {{ 'skills.hobbies.climbing' | translate }}
        </p>
        <p>
            <span class="h1">⛹</span>
            {{ 'skills.hobbies.basketball' | translate }}
        </p>
    </div>
    <div class="col-6 col-md-4">
        <p>
            <span class="h1">🧳</span>
            {{ 'skills.hobbies.traveling' | translate }}
        </p>
        <p>
            <span class="h1">🎮</span>
            {{ 'skills.hobbies.gaming' | translate }}
        </p>
        <p>
            <span class="h1">📚</span>
            {{ 'skills.hobbies.reading' | translate }}
        </p>
    </div>
</div>
