@import "src/styles/variables";

app-skill-measure {
  margin: 0.5rem 0.7rem;
  align-self: flex-end;

  .measure-name {
    word-wrap: break-word;
    hyphens: auto;
  }

  .circles {
    display: flex;
    flex-wrap: wrap;

    .circle {
      width: 0.8rem;
      height: 0.8rem;
      margin-right: 5px;
      border-radius: 50%;
      background-color: var(--background-color);
      border: 1px solid var(--font-color);
      position: relative;
    }

    .filled {
      background-color: $primary-color;
    }

    &.minified {
      .circle {
        width: 0.6rem;
        height: 0.6rem;
      }
    }
  }


}

.dark-theme {
  app-skill-measure {
    .minified {
      .filled {
        background-color: var(--pop-color);
      }
    }
  }
}