<div [lang]="selectedLanguage()" class="measure-name">
    {{ name }}
    @if (infoText) {
        <fa-icon placement="top" [ngbTooltip]="infoText" [icon]="faInfoCircle"></fa-icon>
    }
</div>
@if (displayLevel) {
    <div class="circles">
        @for (circle of circles(); track circle.index) {
            <div
                class="circle"
                [ngStyle]="{ transition: 'background-color .4s ease ' + circle.index * 0.2 + 's' }"
                [class.filled]="circle.filled"
            ></div>
        }
    </div>
}
