@use 'src/styles/variables';

$side-width: 14.6rem;

.cv {
  --bs-body-font-size: 0.8rem;

  /* GENERAL SETUP */
  h5,
  .h5 {
    font-size: 1rem;
    font-weight: 600;
  }

  .sidebar-content {
    h5 {
      text-align: right;
    }
  }

  .wrapper {
    align-items: stretch;
    min-height: 100vh;
  }

  .side-content {
    width: $side-width;
    max-width: $side-width;
    min-width: $side-width;
    display: block !important;
    box-shadow: 0px 0px 4px var(--pop-color);

    .picture-container {
      position: relative;
      height: 10.5rem;
      margin-top: 2rem;

      .profile {
        position: absolute;
        top: -.5rem;
        left: 1.5rem;
        width: calc($side-width - 3rem);
        height: calc($side-width - 3rem);
        border: 3px solid;
      }
    }

    .user-header {
      .user-info {
        list-style: none;
        padding-left: 0;

        .bi {
          padding: 3px;
        }
      }
    }

    .label {
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }

    .hobbies {
      &-row {
        div {
          width: 95px;
          text-align: right;
        }
      }
    }
  }

  .content {
    background-color: var(--pop-color);
    width: calc(100% - $side-width) !important;

    .user-header {
      margin-top: 2rem;
    }

    .experience {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  /* LIGHT THEME SETUP */
  &.light-theme {

    .side-content {
      .label {
        border-bottom-color: variables.$primary-color;
      }
    }

    .content {

      .user-header,
      .text {
        color: variables.$light-gray-font;
      }
    }
  }

  /* DARK THEME SETUP */
  &.dark-theme {

    .side-content {

      .picture-container {
        background-color: variables.$primary-color;
      }

      .header-link {
        color: var(--pop-color);
      }

      .label {
        border-bottom-color: var(--pop-color);
      }
    }

    .content {

      .text {
        color: variables.$gray-font;
      }

      .user-header {
        height: 10.5rem;
        padding-top: 0.75rem;
        background-color: variables.$primary-color;
        color: variables.$light-background;
      }
    }
  }

  /* WHITE THEME SETUP */
  &.white-theme {
    .sheet {
      background-color: #fff;
    }

    .side-content {
      background-color: #fff;
      // border-right: 1px solid #000;


      .picture-container {

        .profile {
          border: none;
        }

      }

      .label {
        border-bottom: none;
      }
    }

    .content {
      font-size: 0.75rem;
      background-color: transparent;

      .user-header {
        color: #000;
      }

      .text {
        color: #000;
      }
    }
  }

  .download-wrapper {
    position: relative;

    .download-button {
      position: fixed;
      bottom: 20px;
      right: 20px;
      border-radius: 50%;

      button>i {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }
}

