<div appScrollDetect class="container">
    @if (selectedTheme$ | async; as theme) {
        <div class="header">
            <h1>
                {{ 'skills.title' | translate }}
            </h1>
        </div>
        <div class="body">
            <section class="skills-panel">
                <h3 class="card-title">
                    {{ 'skills.hard-skills.title' | translate }}
                </h3>
                <app-hard-skills></app-hard-skills>
            </section>
            <section class="skills-panel">
                <h3 class="card-title">
                    {{ 'skills.soft-skills.title' | translate }}
                </h3>
                <app-soft-skills></app-soft-skills>
            </section>
            <section class="skills-panel compact">
                <h3 class="card-title">
                    {{ 'skills.languages.title' | translate }}
                </h3>
                <app-languages></app-languages>
            </section>
            <section class="skills-panel compact">
                <h3 class="card-title">
                    {{ 'skills.hobbies.title' | translate }}
                </h3>
                <app-hobbies></app-hobbies>
            </section>
        </div>
    }
</div>
