<div class="mt-2 mx-3 label">
	<h5>{{ 'skills.hard-skills.title' | translate | uppercase }}</h5>
</div>
<div class="mx-1">
	<app-hard-skills [minified]="true" [minValue]="5"></app-hard-skills>
</div>
<div class="mt-2 mx-3 label">
	<h5>{{ 'skills.soft-skills.title' | translate | uppercase }}</h5>
</div>
<div class="mx-1">
	<app-soft-skills [minified]="true" [minValue]="5"></app-soft-skills>
</div>
<div class="mt-3 mx-3 label">
	<h5>{{ 'skills.languages.title' | translate | uppercase }}</h5>
</div>
<div class="mx-1">
	<app-languages [minified]="true" [minValue]="1"></app-languages>
</div>