/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'bootstrap-styles';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import 'node_modules/bootstrap/scss/bootstrap';

@font-face {
	font-family: 'Inter';
	src: url('/assets/fonts/Inter-Regular.ttf');
}
@font-face {
	font-family: 'Inter';
	src: url('/assets/fonts/Inter-SemiBold.ttf');
	font-weight: bold;
}
@font-face {
	font-family: 'Inter';
	src: url('/assets/fonts/Inter-Light.ttf');
	font-weight: light;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Inter';
}

.background-gradient {
    background-color: $dark-background;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}