// Colors
$primary-color: #d1081f;
$secondary-color: #08D1BA;

// fonts
$gray-font: #8E8E91;

// shaders
$light-background: #f8f9fa;
$dark-background: #1C1D22;
$light-dark-background: #d1081f40;

.dark-theme {
    --font-color: #e9e9ea;
    --background-color: #1C1D22;
    --pop-color: #f8f9fa;
    --light-background: #d1081f40;
}

.light-theme {
    --font-color: #8E8E91;
    --background-color: #f8f9fa;
    --pop-color: #1C1D22;
    --light-background: #d1081f40;
}

$transparent-white: rgba(255,255,255,.25);
$transparent-dark: rgba(70,70,70,.10);


// Alert Colors
$alert-font-color: #4B6172;
$danger-color: #D1081F;
$success-color: #1FD108;
$info-color: #081FD1;
$warning-color: #F61630;


// Measurements
$border-radius: 20px;


// Break Points
$breakpoint-x-small: 340px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 968px;
$breakpoint-x-large: 1200px;
$breakpoint-xx-large: 1400px;

// Menu width
$menu-width: 280px;