<div appScrollDetect class="container">
  @if (selectedTheme$ | async; as theme) {
    <div class="header">
      <div class="greeting d-flex">
        <div class="d-block">
          <img class="rounded" src="assets/images/profile_image.jpg"
            [alt]="'accessibility.images.profile' | translate" />
          </div>
          <h1>
            {{ 'about.hi-there' | translate }}
          </h1>
        </div>
        <h1>
          {{ 'about.title' | translate }}
        </h1>
        <h2>
          {{ 'about.subtitle' | translate }}
        </h2>
      </div>
      <div class="body">
        @for (par of ('about.text' | translate); track par) {
          <p>
            <span [innerHTML]="par"></span>
          </p>
        }
      </div>
    }
  </div>