<div appScrollDetect class="container">
    @if (selectedTheme$ | async; as theme) {
        <div class="header">
            <h1>
                {{ 'education.title' | translate }}
            </h1>
        </div>
        <div class="body">
            <!-- ******************* MASTER PROGRAM ******************* -->
            <div class="card my-3" [ngClass]="['bg-' + theme]">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ 'education.institution.university' | translate }},
                        {{ 'education.institution.faculty' | translate }}
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ 'education.degree.master.title' | translate }}</h6>
                    <p class="card-text"><i>2014 - 2017</i></p>
                    @for (par of 'education.degree.master.abstract' | translate; track par) {
                        <p class="card-text">
                            <span [innerHTML]="par"></span>
                        </p>
                    }
                    <div ngbAccordion>
                        <!-- MASTER THESIS -->
                        <div ngbAccordionItem class="card my-3" [ngClass]="['bg-' + theme]">
                            <div ngbAccordionHeader class="card-header">
                                <h5 class="mb-0">
                                    <button
                                        ngbAccordionButton
                                        [title]="
                                            ('accessibility.buttons.expand-area' | translate) +
                                            ' - ' +
                                            ('education.master-thesis.type' | translate)
                                        "
                                    >
                                        {{ 'education.master-thesis.type' | translate }}
                                    </button>
                                </h5>
                            </div>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody class="card-body">
                                    <h5 class="card-title">{{ 'education.master-thesis.title' | translate }}</h5>
                                    @for (par of 'education.master-thesis.abstract' | translate; track par) {
                                        <p class="card-text">
                                            <span [innerHTML]="par"></span>
                                        </p>
                                    }
                                    <a
                                        href="/uploads/20171026_master_thesis_final.pdf"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        aria-label="Master Thesis"
                                        class="card-link"
                                    >
                                        {{ 'education.master-thesis.file' | translate }}
                                    </a>
                                    <a
                                        href="https://github.com/opasni/GeantCode"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        aria-label="Master Thesis Code"
                                        class="card-link"
                                    >
                                        {{ 'education.master-thesis.code' | translate }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- STUDENTS EXCHANGE -->
                        <div ngbAccordionItem class="card my-3" [ngClass]="['bg-' + theme]">
                            <div ngbAccordionHeader class="card-header">
                                <h5 class="mb-0">
                                    <button
                                        ngbAccordionButton
                                        [title]="
                                            ('accessibility.buttons.expand-area' | translate) +
                                            ' - ' +
                                            ('education.student-exchange.type' | translate)
                                        "
                                    >
                                        {{ 'education.student-exchange.type' | translate }}
                                    </button>
                                </h5>
                            </div>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody class="card-body">
                                    <h5 class="card-title">{{ 'education.student-exchange.title' | translate }}</h5>
                                    @for (par of 'education.student-exchange.abstract' | translate; track par) {
                                        <p class="card-text">
                                            {{ par }}
                                        </p>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- MANHATTAN PROJECT -->
                        <div ngbAccordionItem class="card" [ngClass]="['bg-' + theme]">
                            <div ngbAccordionHeader class="card-header">
                                <h5 class="mb-0">
                                    <button
                                        ngbAccordionButton
                                        [title]="
                                            ('accessibility.buttons.expand-area' | translate) +
                                            ' - ' +
                                            ('education.manhattan-project.type' | translate)
                                        "
                                    >
                                        {{ 'education.manhattan-project.type' | translate }}
                                    </button>
                                </h5>
                            </div>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody class="card-body">
                                    <h5 class="card-title">{{ 'education.manhattan-project.title' | translate }}</h5>
                                    @for (par of 'education.manhattan-project.abstract' | translate; track par) {
                                        <p class="card-text">
                                            {{ par }}
                                        </p>
                                    }
                                    <a
                                        href="/uploads/20150327_manhattan_project.pdf"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        aria-label="Manhattan Project"
                                        class="card-link"
                                    >
                                        {{ 'education.manhattan-project.file' | translate }}
                                    </a>
                                    <a
                                        href="/uploads/20150414_manhattan_project_presentation.pdf"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        aria-label="Manhattan Project Presentation"
                                        class="card-link"
                                    >
                                        {{ 'education.manhattan-project.presentation' | translate }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ******************* BACHELOR PROGRAM ******************* -->
            <div class="card my-3" [ngClass]="'bg-' + theme">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ 'education.institution.university' | translate }},
                        {{ 'education.institution.faculty' | translate }}
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ 'education.degree.bachelor.title' | translate }}</h6>
                    <p class="card-text"><i>2011 - 2014</i></p>
                    @for (par of 'education.degree.bachelor.abstract' | translate; track par) {
                        <p class="card-text">
                            <span [innerHTML]="par"></span>
                        </p>
                    }
                    <div ngbAccordion>
                        <!-- BACHELOR THESIS -->
                        <div ngbAccordionItem class="card my-3" [ngClass]="['bg-' + theme]">
                            <div ngbAccordionHeader class="card-header">
                                <h5 class="mb-0">
                                    <button
                                        ngbAccordionButton
                                        [title]="
                                            ('accessibility.buttons.expand-area' | translate) +
                                            ' - ' +
                                            ('education.bachelor-thesis.type' | translate)
                                        "
                                    >
                                        {{ 'education.bachelor-thesis.type' | translate }}
                                    </button>
                                </h5>
                            </div>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody class="card-body">
                                    <h5 class="card-title">{{ 'education.bachelor-thesis.title' | translate }}</h5>
                                    @for (par of 'education.bachelor-thesis.abstract' | translate; track par) {
                                        <p class="card-text">
                                            {{ par }}
                                        </p>
                                    }
                                    <a
                                        href="/uploads/20140605_bachelor_thesis_final.pdf"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        aria-label="Bachelor Thesis"
                                        class="card-link"
                                    >
                                        {{ 'education.bachelor-thesis.file' | translate }}
                                    </a>
                                    <a
                                        href="/uploads/20140513_bachelor_presentation.pdf"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        aria-label="Bachelor Thesis Presentation"
                                        class="card-link"
                                    >
                                        {{ 'education.bachelor-thesis.presentation' | translate }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ******************* HIGH SCHOOL PROGRAM ******************* -->
            <div class="card my-3" [ngClass]="'bg-' + theme">
                <div class="card-body">
                    <h5 class="card-title">{{ 'education.institution.high-school' | translate }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ 'education.degree.high-school.title' | translate }}
                    </h6>
                    <p class="card-text"><i>2007 - 2011</i></p>
                    <p class="card-text">{{ 'education.degree.high-school.abstract' | translate }}</p>
                    <a
                        href="https://www.sgv.si/"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="Iskre Repository"
                        class="card-link"
                    >
                        {{ 'website.link' | translate }}
                    </a>
                    <!-- ISKRE -->
                    <div ngbAccordion>
                        <div ngbAccordionItem class="card my-3" [ngClass]="['bg-' + theme]">
                            <div ngbAccordionHeader class="card-header">
                                <h5 class="mb-0">
                                    <button
                                        ngbAccordionButton
                                        [title]="
                                            ('accessibility.buttons.expand-area' | translate) +
                                            ' - ' +
                                            ('education.iskre.type' | translate)
                                        "
                                    >
                                        {{ 'education.iskre.type' | translate }}
                                    </button>
                                </h5>
                            </div>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody class="card-body">
                                    <h5 class="card-title">{{ 'education.iskre.title' | translate }}</h5>
                                    @for (par of 'education.iskre.abstract' | translate; track par) {
                                        <p class="card-text">
                                            {{ par }}
                                        </p>
                                    }
                                    <div class="list-group mt-3">
                                        @for (item of publications; track item) {
                                            <a
                                                aria-label="Iskre Magazin"
                                                target="_blank"
                                                class="list-group-item list-group-item-action"
                                                [href]="'/uploads/' + item.id"
                                                [ngClass]="'bg-' + theme"
                                            >
                                                Iskre -
                                                {{ 'education.iskre.issue' | translate }} {{ item.meta.issue }},
                                                {{ 'education.iskre.number' | translate }} {{ item.meta.nr }}
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ******************* GROUND SCHOOL PROGRAM ******************* -->
            <div class="card my-3" [ngClass]="'bg-' + theme">
                <div class="card-body">
                    <h5 class="card-title">{{ 'education.institution.primary-school' | translate }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ 'education.degree.primary-school.title' | translate }}
                    </h6>
                    <p class="card-text"><i>1999 - 2007</i></p>
                    <p class="card-text">{{ 'education.degree.primary-school.abstract' | translate }}</p>
                </div>
            </div>
        </div>
    }
</div>
