<body class="A4 cv" [style.backgroundColor]="backgroundColor" [ngClass]="theme + '-theme'">
  <div class="sheet d-flex wrapper">
    <nav class="side-content background-color">
      <div class="d-block picture-container">
        <img src="assets/images/profile_image_hover.jpeg" class="profile rounded-circle"
          src="assets/images/profile_image.jpg" />
      </div>
      <div class="sidebar-content py-3">
        <div class="px-3 user-header text-center" *ngIf="userData$ | async as userData">
          <h1 class="text-standard">{{ userData.firstName }} <b>{{ userData.lastName }}</b></h1>
          <ul class="user-info">
            <li>
              <i class="bi bi-geo-alt-fill"></i>
              {{ userData.address }}</li>
            <li>
              <i class="bi bi-telephone"></i>
              {{ userData.phone }}</li>
            <li>
              <i class="bi bi-envelope-at-fill"></i>
              <a class="header-link" [href]="'mailto:' + userData.email">{{ userData.email }}</a></li>
            <li>
              <i class="bi bi-globe"></i>
              <a class="header-link" [href]="'https://' + userData.website">{{ userData.website }}</a></li>
          </ul>
        </div>
        <app-skills-overview></app-skills-overview>
      </div>
    </nav>

    <div class="content">
      <div class="px-3 text user-header" *ngIf="userData$ | async as userData">
        <div class="mt-4 label">
          <h5>{{ 'about.menu-item' | translate | uppercase }}</h5>
        </div>
        <p>{{ 'cv.about' | translate }}</p>
        <!-- <h1 class="text-standard">{{ userData.firstName }} <b>{{ userData.lastName }}</b></h1>
        <p class="text-standard small"><em>{{ userData.address }} | {{ userData.phone }} | <a class="header-link" [href]="'mailto:' + userData.email">{{ userData.email }}</a> | <a class="header-link" [href]="'https://' + userData.website">{{ userData.website }}</a></em></p> -->
      </div>
      <div class="text px-3">
        <!-- <div class="display-l">
          <div class="mt-4 pt-3 label">
            <h5>{{ 'about.menu-item' | translate | uppercase }}</h5>
          </div>

          <p>{{ 'cv.about' | translate }}</p>
        </div> -->

        <div class="mt-4 pt-3 label">
          <h5>{{ 'experience.menu-item' | translate | uppercase }}</h5>
        </div>

        <div></div>
        <i>03/2018 - {{ 'experience.present' | translate | uppercase }}</i>
        <h5 class="card-title">{{ 'experience.institution.achtzig20' | translate }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ 'experience.achtzig20.title' | translate }}</h6>

        <ul>
          <li *ngFor="let par of ('cv.experience.achtzig20.summary' | translate); let index = index">
            <span [innerHTML]="par"></span>
          </li>
        </ul>
        <ul>
          <li *ngFor="let par of ('cv.experience.achtzig20.skills' | translate); let index = index">
            <span [innerHTML]="par"></span>
          </li>
        </ul>

        <div class="mt-4 pt-3 label display-l">
          <h5>{{ 'education.menu-item' | translate | uppercase }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="sheet d-flex wrapper">
    <nav class="side-content background-color">
    </nav>
    <div class="content">
    </div>
  </div>
</body>