@import 'src/styles/variables';

.profile-image-container {
	width: 100px;
	height: 100%;

	img {
		height: 100%;
		width: 100%;
	}
}

.menu-icon {
	color: var(--pop-color);
	font-size: 1.8em;
}

.mobile-sidebar-open {
	width: 100% !important;
}

.button-hidden {
	display: none;
}

.sidebar {
	height: 100% !important;
	top: 0;
	width: 0;
	position: fixed !important;
	z-index: 10;
	left: 0;
	top: 0;
	overflow-x: hidden;
	transition: 0.2s; // duration of transition effect to slide in or slide down the overlay
	font-size: 0.9em;

	.sidebar-content {
		height: calc(100vh - 67px);
		width: 100%;
		padding: 0em 2em 2em 2em;
	}

	.bottom-area {
		margin-top: auto;
	}

	ul.components {
		padding: 0;
	}

	ul {
		height: 100%;

		li {
			margin-top: 0.1em;
			white-space: nowrap;
			&.active {
				background: $primary-color;
				border-radius: 30px;
				background-color: $primary-color;

				a {
					color: white;
				}

				i {
					color: white;
				}
			}

			& > ul {
				margin-left: 10px;
			}

			&:hover {
				color: $primary-color;
				background-color: var(--light-background);
				border-radius: 30px;

				a {
					color: white;
				}
			}

			i {
				display: inline-block;
				border-radius: 10px;
				margin-left: 1em;
				margin-right: 0.5em;
			}

			a {
				padding: 10px 0;
				display: block;
				color: var(--font-color);
				&:hover {
					padding: 10px 0;
					display: block;
				}
			}
		}

		.settings-icon {
			width: 1em;
			height: 1em;
			display: inline-block;
			border-radius: 10px;
			margin-left: 1em;
			margin-right: 0.5em;

			&.language {
				margin-bottom: 3px;
			}

			&.theme {
				border-width: 1px;
				border-style: solid;
				border-color: $primary-color;
				margin-bottom: -3px;
			}
		}
	}

	&.activated {
		.social-icon-color {
			color: var(--pop-color) !important;
			border: 2px solid $primary-color;
			background-color: $primary-color;
		}
	}

	.profile {
		min-width: 190px;

		.social-icons {
			display: flex;
			justify-content: left;

			.social-icon {
				cursor: pointer;
				font-size: 1.1em;
				color: $primary-color;
				width: 28px;
				height: 28px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;

				&:hover {
					color: var(--pop-color);
					background-color: var(--light-background);
				}

				fa-icon {
					padding-top: 2px;
				}
			}

			a {
				margin-right: 1em;

				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}
}

@media (min-width: $breakpoint-large) {
	.sidebar-toggle-button {
		display: none;
	}

	.close-mobile-menu-button {
		display: none;
	}

	.sidebar {
		width: $menu-width !important;
		height: 100vh !important;
		display: block !important;
		position: sticky !important;

		.sidebar-content {
			padding-top: 2em;
		}
	}
}

@media (max-width: $breakpoint-small) {
	.menu-icon {
		font-size: 1.4em;
	}
}