<body class="A4" [style.backgroundColor]="backgroundColor" [ngClass]="theme + '-theme'">
  <div class="sheet d-flex wrapper">
    <nav class="side-content background-color">
      <div class="d-block picture-container">
        <img src="assets/images/profile_image_hover.jpeg" class="profile rounded-circle"
          src="assets/images/profile_image.jpg" />
      </div>
      <div class="sidebar-content px-2 py-3">
        <div class="mt-4 mx-2 label">
          <h5>{{ 'skills.hard-skills.title' | translate | uppercase }}</h5>
        </div>
        <app-hard-skills [minified]="true"></app-hard-skills>
        <div class="mt-4 mx-2 label">
          <h5>{{ 'skills.soft-skills.title' | translate | uppercase }}</h5>
        </div>
        <app-soft-skills [minified]="true"></app-soft-skills>
        <div class="mt-4 mx-2 label">
          <h5>{{ 'skills.languages.title' | translate | uppercase }}</h5>
        </div>
        <app-languages [minified]="true" [minValue]="3"></app-languages>
      </div>
    </nav>

    <div class="content">
      <div class="px-3 user-header background-color" *ngIf="userData$ | async as userData">
        <h1 class="text-standard">{{ userData.firstName }} {{ userData.lastName }}</h1>
        <p class="text-standard small"><em>{{ userData.address }} | {{ userData.phone }} | {{ userData.email }}</em></p>
      </div>
      <div class="text px-4">

        <div class="mt-4 pt-3 label">
          <h5>{{ 'about.menu-item' | translate | uppercase }}</h5>
        </div>

        <p *ngFor="let par of ('about.text' | translate); let index = index">
          <span *ngIf="index === 0" [innerHTML]="par"></span>
        </p>

        <div class="mt-4 pt-3 label">
          <h5>{{ 'experience.menu-item' | translate | uppercase }}</h5>
        </div>

        <div class="mt-4 pt-3 label">
          <h5>{{ 'education.menu-item' | translate | uppercase }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="sheet d-flex wrapper">
  </div>
</body>