<div appScrollDetect class="container">
  <ng-container *ngIf="selectedTheme$ | async as theme">
    <div class="header">
      <h1>
        {{ 'education.title' | translate }}
      </h1>
    </div>
    <div class="body">
      <!-- ******************* MASTER PROGRAM ******************* -->
      <div class="card my-3" [ngClass]="['bg-' + theme]">
        <div class="card-body">
          <h5 class="card-title">
            {{ 'education.institution.university' | translate }}, {{ 'education.institution.faculty' | translate }}
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ 'education.degree.master.title' | translate }}</h6>
          <p class="card-text"><i>2014 - 2017</i></p>
          <p class="card-text" *ngFor="let par of ('education.degree.master.abstract' | translate)">
            <span [innerHTML]="par"></span>
          </p>

          <div class="accordion accordion-flush" id="masterProgram">
            <!-- MASTER THESIS -->
            <div class="card my-3" [ngClass]="['bg-' + theme]">
              <div class="card-header" id="headingMasterThesis">
                <h5 class="mb-0">
                  <button class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#collapseMasterThesis" aria-expanded="false" aria-controls="collapseMasterThesis">
                    {{ 'education.master-thesis.type' | translate }}
                  </button>
                </h5>
              </div>
              <div id="collapseMasterThesis" class="accordion-collapse collapse" aria-labelledby="headingMasterThesis"
                data-bs-parent="#masterProgram">
                <div class="card-body">
                  <h5 class="card-title">{{ 'education.master-thesis.title' | translate }}</h5>
                  <p class="card-text" *ngFor="let par of ('education.master-thesis.abstract' | translate)">
                    <span [innerHTML]="par"></span>
                  </p>
                  <a href="/uploads/20171026_master_thesis_final.pdf" target="_blank" rel="noopener noreferrer" class="card-link">
                    {{ 'education.master-thesis.file' | translate}}
                  </a>
                  <a href="https://github.com/opasni/GeantCode" target="_blank" rel="noopener noreferrer" class="card-link">
                    {{ 'education.master-thesis.code' | translate}}
                  </a>
                </div>
              </div>
            </div>
            <!-- STUDENTS EXCHANGE -->
            <div class="card my-3" [ngClass]="['bg-' + theme]">
              <div class="card-header" id="headingStudentExchange">
                <h5 class="mb-0">
                  <button class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#collapseStudentExchange" aria-expanded="false"
                    aria-controls="collapseStudentExchange">
                    {{ 'education.student-exchange.type' | translate }}
                  </button>
                </h5>
              </div>
              <div id="collapseStudentExchange" class="accordion-collapse collapse"
                aria-labelledby="headingStudentExchange" data-bs-parent="#masterProgram">
                <div class="card-body">
                  <h5 class="card-title">{{ 'education.student-exchange.title' | translate }}</h5>
                  <p class="card-text" *ngFor="let par of ('education.student-exchange.abstract' | translate)">
                    {{ par }}
                  </p>
                </div>
              </div>
            </div>
            <!-- MANHATTAN PROJECT -->
            <div class="card my-3" [ngClass]="['bg-' + theme]">
              <div class="card-header" id="headingManhattanProject">
                <h5 class="mb-0">
                  <button class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#collapseManhattanProject" aria-expanded="false"
                    aria-controls="collapseManhattanProject">
                    {{ 'education.manhattan-project.type' | translate }}
                  </button>
                </h5>
              </div>
              <div id="collapseManhattanProject" class="accordion-collapse collapse"
                aria-labelledby="headingManhattanProject" data-bs-parent="#masterProgram">
                <div class="card-body">
                  <h5 class="card-title">{{ 'education.manhattan-project.title' | translate }}</h5>
                  <p class="card-text" *ngFor="let par of ('education.manhattan-project.abstract' | translate)">
                    {{ par }}
                  </p>
                  <a href="/uploads/20150327_manhattan_project.pdf" target="_blank" rel="noopener noreferrer" class="card-link">
                    {{ 'education.manhattan-project.file' | translate}}
                  </a>
                  <a href="/uploads/20150414_manhattan_project_presentation.pdf" target="_blank" rel="noopener noreferrer" class="card-link">
                    {{ 'education.manhattan-project.presentation' | translate}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ******************* BACHELOR PROGRAM ******************* -->
      <div class="card my-3" [ngClass]="'bg-' + theme">
        <div class="card-body">
          <h5 class="card-title">
            {{ 'education.institution.university' | translate }}, {{ 'education.institution.faculty' | translate }}
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ 'education.degree.bachelor.title' | translate }}</h6>
          <p class="card-text"><i>2011 - 2014</i></p>
          <p class="card-text" *ngFor="let par of ('education.degree.bachelor.abstract' | translate)">
            <span [innerHTML]="par"></span>
          </p>

          <div class="accordion accordion-flush" id="bachelorProgram">
            <!-- BACHELOR THESIS -->
            <div class="card my-3" [ngClass]="['bg-' + theme]">
              <div class="card-header" id="headingBachelorThesis">
                <h5 class="mb-0">
                  <button class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#collapseBachelorThesis" aria-expanded="false"
                    aria-controls="collapseBachelorThesis">
                    {{ 'education.bachelor-thesis.type' | translate }}
                  </button>
                </h5>
              </div>
              <div id="collapseBachelorThesis" class="accordion-collapse collapse"
                aria-labelledby="headingBachelorThesis" data-bs-parent="#masterProgram">
                <div class="card-body">
                  <h5 class="card-title">{{ 'education.bachelor-thesis.title' | translate }}</h5>
                  <p class="card-text" *ngFor="let par of ('education.bachelor-thesis.abstract' | translate)">
                    {{ par }}
                  </p>
                  <a href="/uploads/20140605_bachelor_thesis_final.pdf" target="_blank" rel="noopener noreferrer" class="card-link">
                    {{ 'education.bachelor-thesis.file' | translate}}
                  </a>
                  <a href="/uploads/20140513_bachelor_presentation.pdf" target="_blank" rel="noopener noreferrer" class="card-link">
                    {{ 'education.bachelor-thesis.presentation' | translate}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ******************* HIGH SCHOOL PROGRAM ******************* -->
      <div class="card my-3" [ngClass]="'bg-' + theme">
        <div class="card-body">
          <h5 class="card-title">{{ 'education.institution.high-school' | translate }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ 'education.degree.high-school.title' | translate }}</h6>
          <p class="card-text"><i>2007 - 2011</i></p>
          <p class="card-text">{{ 'education.degree.high-school.abstract' | translate }}</p>
          <a href="https://www.sgv.si/" target="_blank" rel="noopener noreferrer" class="card-link">{{ 'website.link' | translate }}</a>
          <!-- ISKRE -->
          <div class="accordion accordion-flush" id="highSchoolProgram">
            <div class="card my-3" [ngClass]="['bg-' + theme]">
              <div class="card-header" id="headingIskre">
                <h5 class="mb-0">
                  <button class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#collapseIskre" aria-expanded="false"
                    aria-controls="collapseIskre">
                    {{ 'education.iskre.type' | translate }}
                  </button>
                </h5>
              </div>
              <div id="collapseIskre" class="accordion-collapse collapse"
                aria-labelledby="headingIskre" data-bs-parent="#masterProgram">
                <div class="card-body">
                  <h5 class="card-title">{{ 'education.iskre.title' | translate }}</h5>
                  <p class="card-text" *ngFor="let par of ('education.iskre.abstract' | translate)">
                    {{ par }}
                  </p>

                  <div class="list-group mt-3">
                    <a *ngFor="let item of publications" target="_blank" class="list-group-item list-group-item-action"
                      [href]="'/uploads/' + item.id" [ngClass]="'bg-' + theme">
                      Iskre -
                      {{ 'education.iskre.issue' | translate }} {{ item.meta.issue }},
                      {{ 'education.iskre.number' | translate }} {{ item.meta.nr }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ******************* GROUND SCHOOL PROGRAM ******************* -->
      <div class="card my-3" [ngClass]="'bg-' + theme">
        <div class="card-body">
          <h5 class="card-title">{{ 'education.institution.primary-school' | translate }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ 'education.degree.primary-school.title' | translate }}</h6>
          <p class="card-text"><i>1999 - 2007</i></p>
          <p class="card-text">{{ 'education.degree.primary-school.abstract' | translate }}</p>
        </div>
      </div>
    </div>
  </ng-container>
</div>