<div class="skills-section" [class.minified]="summarized">
  <app-skill-measure [value]="7" [minValue]="minValue" [name]="'skills.languages.slovenian' | translate"></app-skill-measure>
  <app-skill-measure [value]="7" [minValue]="minValue" [name]="'skills.languages.english' | translate"></app-skill-measure>
  <app-skill-measure [value]="4" [minValue]="minValue" [name]="'skills.languages.german' | translate"></app-skill-measure>
  <app-skill-measure [value]="2" [minValue]="minValue" [name]="'skills.languages.italian' | translate"></app-skill-measure>
</div>