<div class="skills-section" [class.minified]="summarized">
    <app-skill-measure
        [value]="7"
        [minValue]="minValue"
        [name]="'skills.languages.slovenian-level' | translate"
    ></app-skill-measure>
    <app-skill-measure
        [value]="7"
        [minValue]="minValue"
        [name]="'skills.languages.english-level' | translate"
    ></app-skill-measure>
    <app-skill-measure
        [value]="5"
        [minValue]="minValue"
        [name]="'skills.languages.german-level' | translate"
    ></app-skill-measure>
    <app-skill-measure
        [value]="2"
        [minValue]="minValue"
        [name]="'skills.languages.italian-level' | translate"
    ></app-skill-measure>
</div>
